.homeDesign {

    height: 100vh;
    width: 100vw;

    background-color: rgb(30, 26, 29);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
}

.contentDesign {
    font-family: "Josefin Sans", sans-serif;
    text-align: left;

    margin-top: 1.5em;
    margin-left: 3em;
    margin-right: 2em;
}

.descriptionTitleDesign {
    font-weight: bold;
    font-size: x-large;

    margin-top: 1em;
}

.descriptionDesign {
    font-size: large;
    margin-top: 1em;
}

.titleDesign {
    width: 100%;
    display: block;
    justify-content: center;
    margin-top: 3em;
}

.titleDesign {
    font-size: 9em;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;


    margin-top: 1em;
}