.homeDesign {

    height: 96vh;
    width: 100vw;

    background-color: rgb(30, 26, 29);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}

.titleDesign {
    font-weight: bold;
    font-size: xxx-large;
    font-family: 'Trebuchet MS', sans-serif;

    margin-top: 1em;
}

.subTitleDesign {
    font-weight: bold;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;

    margin: 1.5em;
}

.descriptionDesign {
    font-size: large;
    font-family: "Josefin Sans", sans-serif;
    text-align: left;

    margin: 1.5em;
}