.headerDesign {

    height:4vh;
    width: 100vw;

    background-color: rgb(220, 160, 80);

    color: aliceblue;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.authMenu {
    display: flex;
    flex-direction: row;
}