.footerDesign {

    height:5vh;
    width: 100vw;

    background-color: rgb(220, 160, 80);

    color: aliceblue;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    overflow-x: hidden;

}
